@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: $graiysh-blue;
    color: $dark-blue;
}

span {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: $dark-blue;
}